.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background: #20232a;
}

.main p {
  color: #000000;
  line-height: 0.5rem;
}

.logo {
  text-align: center !important;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: rgb(255 23 23) 2px 2px 5px;
}

.form-label {
  text-align: left;
}